//! **************************************************************************
// Written by: Map P.20131013 on Sun Jan 16 05:56:03 2022
//! **************************************************************************

SCHEMATIC START;
COMP "SF_D<0>" LOCATE = SITE "R15" LEVEL 1;
COMP "SF_D<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "SF_D<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "SF_D<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "CLK" LOCATE = SITE "C9" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "M18" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "L18" LEVEL 1;
COMP "LCD_RW" LOCATE = SITE "L17" LEVEL 1;
COMP "BTN_NL" LOCATE = SITE "L13" LEVEL 1;
COMP "BTN_DELETE" LOCATE = SITE "K17" LEVEL 1;
COMP "LED0" LOCATE = SITE "F12" LEVEL 1;
COMP "LED1" LOCATE = SITE "E12" LEVEL 1;
COMP "LED2" LOCATE = SITE "E11" LEVEL 1;
COMP "LED3" LOCATE = SITE "F11" LEVEL 1;
COMP "LED4" LOCATE = SITE "C11" LEVEL 1;
COMP "LED5" LOCATE = SITE "D11" LEVEL 1;
COMP "LED6" LOCATE = SITE "E9" LEVEL 1;
COMP "BTN_RESET" LOCATE = SITE "V4" LEVEL 1;
COMP "LED7" LOCATE = SITE "F9" LEVEL 1;
COMP "BTN_SAVE" LOCATE = SITE "H13" LEVEL 1;
COMP "BTN_PUSH" LOCATE = SITE "D18" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

